p{
color: orange;
  font-size: 200%
  padding-bottom;222px;
}

h1{
font-size: 200%;
color: orange;
}

body{
background-color: Grey;
}

img{
  padding: 25px;
  border: 25px solid white;
  margin: 50px;
}


